In [11]:

import requests
from config import geoapify_key 
import csv
import pandas as pd
import pprint
import json
import time

In [12]:
# get the data from the json file
json_path = "./Resources/IMDB_API_100_location.json"
# json_path = "./Resources/IMDB_API_100_location.json"
df = pd.read_json(json_path)
# remove the duplicate rows by location_name
df = df.drop_duplicates(subset=['location_name'], keep='first')

# create a new list to store the data
location_list = []
df.head(10)

,id,location_id,location_name
0,tt11858890,/title/tt11858890/filminglocations/lc2749017,"Bangkok, Thailand"
1,tt11858890,/title/tt11858890/filminglocations/lc2763749,"Pinewood Studios, Pinewood Road, Iver Heath, I..."
2,tt11858890,/title/tt11858890/filminglocations/lc2749018,Thailand
3,tt11858890,/title/tt11858890/filminglocations/lc3578189,"Siem Reap, Cambodia"
4,tt15009428,/title/tt15009428/filminglocations/lc3375865,"London, England, UK"
5,tt15009428,/title/tt15009428/filminglocations/lc3375866,Greece
6,tt17024450,/title/tt17024450/filminglocations/lc2973962,"Minori, Campania, Italy"
7,tt17024450,/title/tt17024450/filminglocations/lc2973960,"Atrani, Campania, Italy"
8,tt17024450,/title/tt17024450/filminglocations/lc3493652,"Maiori, Campania, Italy"
9,tt17024450,/title/tt17024450/filminglocations/lc2973961,"Ravello, Campania, Italy"

In [13]:
# loop through the rows and get the location data


def findthelocation(name):
    locationinfo = {}
    locationinfo["location_name"] = name
    name = name.replace("UK","United Kingdom")
    name = name.replace("USA","United States of America")

    
    url = "https://api.geoapify.com/v1/geocode/autocomplete?text="+name+"&format=json&apiKey="+geoapify_key
    
    response = requests.get(url)
    
    
    if len(response.json()['results'])==0:
    
        if "," in name:
            name = name.split(",",1)[1]
            return findthelocation(name)
             
        else:
            locationinfo["lat"] = "N/A"
            locationinfo["lon"] = "N/A"
          
            return locationinfo
        
    else:
        locationinfo["lat"] = response.json()["results"][0]["lat"]
        locationinfo["lon"] = response.json()["results"][0]["lon"]

        
    return locationinfo

In [14]:
def check_value_in_list_of_dicts(list_of_dicts, value):
    
    for dictionary in list_of_dicts:

        if value in dictionary.get('location_name'):
            return True
    return False

In [15]:
jsonpath='./Resources/IMDB_API_100_location_geoapify.json'
with open(jsonpath, 'r') as file:
    data = json.load(file)

filtered_data = [item for item in data if 'lon' in item]

with open(jsonpath, 'w') as file:
    json.dump(filtered_data, file, indent=4)

In [16]:
i=0
for index, row in df.iterrows():
    i=i+1
    print(i)
    
# for index, row in df.iterrows():
    # time.sleep(0.5)
    text = row["location_name"]

    with open(jsonpath, 'r') as file:
        data = json.load(file)
        if not isinstance(data, list):
            data = [data]
            data = [item for item in data if 'lon' in item]
        if check_value_in_list_of_dicts(data,text):
            print('We have it')   
        else:
            time.sleep(0.5)
            location=findthelocation(text)    
            print(text)
            pprint.pprint(location)
            with open(jsonpath, 'w') as file:
                
                data.append(location)
                json.dump(data, file, indent=4)
                print("add a row")
            
    # location_list.append(location)

1
We have it
2
We have it
3
We have it
4
We have it
5
We have it
6
We have it
7
Minori, Campania, Italy
{'lat': 40.652708, 'location_name': 'Minori, Campania, Italy', 'lon': 14.624941}
add a row
8
Atrani, Campania, Italy
{'lat': 40.636908, 'location_name': 'Atrani, Campania, Italy', 'lon': 14.607541}
add a row
9
Maiori, Campania, Italy
{'lat': 40.65235025,
 'location_name': 'Maiori, Campania, Italy',
 'lon': 14.642910775796539}
add a row
10
Ravello, Campania, Italy
{'lat': 40.6496643,
 'location_name': 'Ravello, Campania, Italy',
 'lon': 14.6122753}
add a row
11
We have it
12
Napoli, Campania, Italy
{'lat': 40.8358846,
 'location_name': 'Napoli, Campania, Italy',
 'lon': 14.2487679}
add a row
13
We have it
14
We have it
15
We have it
16
We have it
17
We have it
18
We have it
19
We have it
20
We have it
21
We have it
22
We have it
23
We have it
24
We have it
25
We have it
26
We have it
27
We have it
28
We have it
29
We have it
30
We have it
31
We have it
32
We have it
33
We have it
34
We have it
35
We have it
36
We have it
37
We have it
38
We have it
39
We have it
40
We have it
41
We have it
42
We have it
43
We have it
44
We have it
45
We have it
46
We have it
47
We have it
48
Mumbai, Maharashtra, India
{'lat': 19.0785451,
 'location_name': 'Mumbai, Maharashtra, India',
 'lon': 72.878176}
add a row
49
We have it
50
We have it
51
We have it
52
We have it
53
We have it
54
We have it
55
We have it
56
We have it
57
We have it
58
We have it
59
New Delhi, Delhi, India
{'lat': 28.6138954,
 'location_name': 'New Delhi, Delhi, India',
 'lon': 77.2090057}
add a row
60
Wadi Rum Desert, Jordan
{'lat': 29.583159,
 'location_name': 'Wadi Rum Desert, Jordan',
 'lon': 35.4964238}
add a row
61
Rue Foyatier, Montmartre, Paris, France
{'lat': 48.8852396,
 'location_name': 'Rue Foyatier, Montmartre, Paris, France',
 'lon': 2.3424188}
add a row
62
Chateau de Chantilly, France
{'lat': 49.1938212,
 'location_name': 'Chateau de Chantilly, France',
 'lon': 2.4852542963473363}
add a row
63
Studio Babelsberg, Potsdam, Germany
{'lat': 52.381929650000004,
 'location_name': 'Studio Babelsberg, Potsdam, Germany',
 'lon': 13.113676759028799}
add a row
64
Arc de Triomphe, Place Charles de Gaulle, Paris, France
{'lat': 48.872916,
 'location_name': 'Arc de Triomphe, Place Charles de Gaulle, Paris, France',
 'lon': 2.29402}
add a row
65
Montmartre, Paris 18, Paris, France
{'lat': 48.8845083,
 'location_name': 'Montmartre, Paris 18, Paris, France',
 'lon': 2.3257947}
add a row
66
We have it
67
Beelitz-Heilstätten, Beelitz, Brandenburg, Germany
{'lat': 52.2618758,
 'location_name': 'Beelitz-Heilstätten, Beelitz, Brandenburg, Germany',
 'lon': 12.9245909}
add a row
68
Journal Square PATH Station, Jersey City, New Jersey, USA
{'lat': 40.7215682,
 'location_name': ' Jersey City, New Jersey, United States of America',
 'lon': -74.047455}
add a row
69
Palais Garnier opera house, Paris, France
{'lat': 48.8534951, 'location_name': ' Paris, France', 'lon': 2.3483915}
add a row
70
Basilique du Sacré-Coeur, Montmartre, Paris 18, Paris, France
{'lat': 48.88680575,
 'location_name': 'Basilique du Sacré-Coeur, Montmartre, Paris 18, Paris, '
                  'France',
 'lon': 2.3430153448835087}
add a row
71
Alte Nationalgalerie, Berlin, Germany
{'lat': 52.520862,
 'location_name': 'Alte Nationalgalerie, Berlin, Germany',
 'lon': 13.398266124901008}
add a row
72
We have it
73
Porte des Lilas, Le Métro, Paris, France
{'lat': 48.8468391,
 'location_name': ' Le Métro, Paris, France',
 'lon': 2.4089025}
add a row
74
Place du Trocadéro Paris, France
{'lat': 48.862969,
 'location_name': 'Place du Trocadéro Paris, France',
 'lon': 2.291055}
add a row
75
We have it
76
We have it
77
Villajoyosa, Alicante, Comunidad Valenciana, Spain
{'lat': 38.5100778,
 'location_name': 'Villajoyosa, Alicante, Comunidad Valenciana, Spain',
 'lon': -0.2296202}
add a row
78
Sax, Alicante, Comunidad Valenciana, Spain
{'lat': 38.5350323,
 'location_name': 'Sax, Alicante, Comunidad Valenciana, Spain',
 'lon': -0.818913}
add a row
79
Base Aérea de Zaragoza, Zaragoza, Aragón, Spain
{'lat': 41.6676807,
 'location_name': 'Base Aérea de Zaragoza, Zaragoza, Aragón, Spain',
 'lon': -1.0437423279666378}
add a row
80
Alicante, Spain
{'lat': 38.3436365, 'location_name': 'Alicante, Spain', 'lon': -0.4881708}
add a row
81
Novelda, Alicante, Spain
{'lat': 38.3842144,
 'location_name': 'Novelda, Alicante, Spain',
 'lon': -0.7674146}
add a row
82
Embalse del Amadorio, Alicante, Comunidad Valenciana, Spain
{'lat': 38.5420518,
 'location_name': 'Embalse del Amadorio, Alicante, Comunidad Valenciana, Spain',
 'lon': -0.2613128377052545}
add a row
83
Petrer, Alicante, Comunidad Valenciana, Spain
{'lat': 38.485008,
 'location_name': 'Petrer, Alicante, Comunidad Valenciana, Spain',
 'lon': -0.7703987}
add a row
84
We have it
85
We have it
86
We have it
87
We have it
88
We have it
89
Dún Briste Sea Stack, County Mayo, Ireland
{'lat': 53.9087056,
 'location_name': ' County Mayo, Ireland',
 'lon': -9.298304863654256}
add a row
90
We have it
91
We have it
92
We have it
93
We have it
94
We have it
95
We have it
96
We have it
97
We have it
98
We have it
99
We have it
100
We have it
101
We have it
102
We have it
103
We have it
104
We have it
105
We have it
106
We have it
107
We have it
108
We have it
109
We have it
110
We have it
111
We have it
112
We have it
113
We have it
114
Origo Film Studios, Budapest, Hungary
{'lat': 47.4978918, 'location_name': ' Budapest, Hungary', 'lon': 19.0401609}
add a row
115
We have it
116
We have it
117
We have it
118
We have it
119
We have it
120
We have it
121
We have it
122
We have it
123
We have it
124
We have it
125
Zalew Grzedy, Poland
{'lat': 52.215933, 'location_name': ' Poland', 'lon': 19.134422}
add a row
126
We have it
127
Bärensaal, Altes Stadthaus, Berlin, Germany
{'lat': 52.5165518,
 'location_name': ' Altes Stadthaus, Berlin, Germany',
 'lon': 13.411231334564988}
add a row
128
Tieranatomisches Theater, Humboldt University, Berlin, Germany
{'lat': 52.5183402,
 'location_name': ' Humboldt University, Berlin, Germany',
 'lon': 13.392920232320172}
add a row
129
Haverhill, Massachusetts, USA
{'lat': 42.7777829,
 'location_name': 'Haverhill, Massachusetts, USA',
 'lon': -71.0767724}
add a row
130
Castle Hill, Crane Estate - 280 Argilla Road, Ipswich, Massachusetts, USA
{'lat': 42.68351,
 'location_name': 'Castle Hill, Crane Estate - 280 Argilla Road, Ipswich, '
                  'Massachusetts, USA',
 'lon': -70.778645}
add a row
131
Salisbury, Massachusetts, USA
{'lat': 42.8417577,
 'location_name': 'Salisbury, Massachusetts, USA',
 'lon': -70.8606083}
add a row
132
Fore River Shipyard, Quincy, Massachusetts, USA
{'lat': 42.2509914,
 'location_name': ' Quincy, Massachusetts, United States of America',
 'lon': -71.0037374}
add a row
133
Beacon Hill, Boston, Massachusetts, USA
{'lat': 42.35684365,
 'location_name': 'Beacon Hill, Boston, Massachusetts, USA',
 'lon': -71.06862657516852}
add a row
134
25 Everett Avenue, Chelsea, Massachusetts, USA
{'lat': 42.391257,
 'location_name': '25 Everett Avenue, Chelsea, Massachusetts, USA',
 'lon': -71.038257}
add a row
135
330 Mt Auburn St, Cambridge, Massachusetts, USA
{'lat': 42.374434,
 'location_name': '330 Mt Auburn St, Cambridge, Massachusetts, USA',
 'lon': -71.1345337}
add a row
136
South Hamilton, Massachusetts, USA
{'lat': 42.6130398,
 'location_name': 'South Hamilton, Massachusetts, USA',
 'lon': -70.8723954}
add a row
137
40 Falcon St, Boston Massachusetts, USA
{'lat': 42.382131799999996,
 'location_name': '40 Falcon St, Boston Massachusetts, USA',
 'lon': -71.03796495041152}
add a row
138
Maya's Burritos, 136 Broadway, Chelsea, MA 02150, USA
{'lat': 42.38927742735037,
 'location_name': "Maya's Burritos, 136 Broadway, Chelsea, MA 02150, USA",
 'lon': -71.04045967407185}
add a row
139
470 Meridian St, East Boston Massachusetts, USA
{'lat': 42.382862,
 'location_name': '470 Meridian St, East Boston Massachusetts, USA',
 'lon': -71.0398}
add a row
140
Ryan Playgroud Alford St Boston Massachusetts, USA
{'lat': 42.388727,
 'location_name': 'Ryan Playgroud Alford St Boston Massachusetts, USA',
 'lon': -71.074269}
add a row
141
We have it
142
We have it
143
We have it
144
We have it
145
We have it
146
Warner Bros. Studios Leavesden, Warner Drive, Leavesden, Watford, Hertfordshire, England, UK
{'lat': 51.6717299,
 'location_name': ' Leavesden, Watford, Hertfordshire, England, United Kingdom',
 'lon': -0.4015312}
add a row
147
We have it
148
We have it
149
We have it
150
We have it
151
Kings Ferry Bridge, Isle of Sheppey, UK
{'lat': 51.3889653,
 'location_name': 'Kings Ferry Bridge, Isle of Sheppey, UK',
 'lon': 0.7468492}
add a row
152
Necropolis Cemetery, Glasgow, Scotland, UK
{'lat': 55.8627117,
 'location_name': 'Necropolis Cemetery, Glasgow, Scotland, UK',
 'lon': -4.230764005000472}
add a row
153
St. George's Hall, Liverpool, England, UK
{'lat': 53.4086595,
 'location_name': "St. George's Hall, Liverpool, England, UK",
 'lon': -2.9801624497917714}
add a row
154
Hartwood Psychiatric Hospital, Shotts, Scotland, UK
{'lat': 55.8196688,
 'location_name': ' Shotts, Scotland, United Kingdom',
 'lon': -3.8073229}
add a row
155
Printworks Nightclub, Surrey Quays Rd, London, England, UK
{'lat': 51.4987758,
 'location_name': 'Printworks Nightclub, Surrey Quays Rd, London, England, UK',
 'lon': -0.0491319}
add a row
156
Walker Art Gallery, Liverpool, England, UK
{'lat': 53.410018,
 'location_name': 'Walker Art Gallery, Liverpool, England, UK',
 'lon': -2.9796289}
add a row
157
County Sessions House, Liverpool, England, UK
{'lat': 53.41021705,
 'location_name': 'County Sessions House, Liverpool, England, UK',
 'lon': -2.978985652174969}
add a row
158
Anfield Cemetery, Liverpool, England, UK
{'lat': 53.43839345,
 'location_name': 'Anfield Cemetery, Liverpool, England, UK',
 'lon': -2.957476418831637}
add a row
159
Royal Liver Building, Liverpool, England, UK
{'lat': 53.405847300000005,
 'location_name': 'Royal Liver Building, Liverpool, England, UK',
 'lon': -2.9958431406242627}
add a row
160
230 S LaSelle St, Chicago, Illinois, USA
{'lat': 41.8755616,
 'location_name': ' Chicago, Illinois, United States of America',
 'lon': -87.6244212}
add a row
161
Waterloo Monument - William Brown St, Liverpool, England, UK
{'lat': 53.4071991,
 'location_name': ' Liverpool, England, United Kingdom',
 'lon': -2.99168}
add a row
162
91 Wishart St, Glasgow, Scotland, UK
{'lat': 55.8643153,
 'location_name': '91 Wishart St, Glasgow, Scotland, UK',
 'lon': -4.2321376}
add a row
163
Kingsway Tram Tunnel, Southampton Row, London, England, UK
{'lat': 51.521368,
 'location_name': 'Kingsway Tram Tunnel, Southampton Row, London, England, UK',
 'lon': -0.1239795}
add a row
164
We have it
165
James R. Thompson Center - 100 W Randolph St, Chicago, Illinois, USA
{'lat': 41.885125,
 'location_name': 'James R. Thompson Center - 100 W Randolph St, Chicago, '
                  'Illinois, USA',
 'lon': -87.63167577924878}
add a row
166
LaSalle Street Bridge, Chicago, Illinois, USA
{'lat': 41.8755616,
 'location_name': ' Chicago, Illinois, United States of America',
 'lon': -87.6244212}
add a row
167
LaSalle Street, Chicago, Illinois, USA
{'lat': 41.8782213,
 'location_name': 'LaSalle Street, Chicago, Illinois, USA',
 'lon': -87.6322632}
add a row
168
Two Temple Place, London, England, UK
{'lat': 51.5073359,
 'location_name': ' London, England, United Kingdom',
 'lon': -0.12765}
add a row
169
We have it
170
Central Saint Martins - 1 Granary Square, London, England, UK
{'lat': 51.5448129,
 'location_name': 'Central Saint Martins - 1 Granary Square, London, England, '
                  'UK',
 'lon': -0.10859654195501486}
add a row
171
The O2, North Greenwich, London, England, UK
{'lat': 51.500574,
 'location_name': ' North Greenwich, London, England, United Kingdom',
 'lon': 0.0043201}
add a row
172
Shotts, Scotland, UK
{'lat': 55.8196688, 'location_name': 'Shotts, Scotland, UK', 'lon': -3.8073229}
add a row
173
We have it
174
William Brown St, Liverpool, England, UK
{'lat': 53.4094519,
 'location_name': 'William Brown St, Liverpool, England, UK',
 'lon': -2.9807154}
add a row
175
We have it
176
We have it
177
We have it
178
We have it
179
We have it
180
We have it
181
We have it
182
North Greenwich, London, England, UK
{'lat': 51.500574,
 'location_name': 'North Greenwich, London, England, UK',
 'lon': 0.0043201}
add a row
183
Hauraki Gulf, Auckland, New Zealand
{'lat': -36.61819,
 'location_name': 'Hauraki Gulf, Auckland, New Zealand',
 'lon': 174.93019}
add a row
184
A24 Highway AKA Autoestrada do Interior Norte, Portugal
{'lat': 39.6621648, 'location_name': ' Portugal', 'lon': -8.1353519}
add a row
185
We have it
186
We have it
187
We have it
188
We have it
189
We have it
190
ARTIC Transportaion Center Anaheim, California, USA
{'lat': 36.7014631,
 'location_name': ' California, United States of America',
 'lon': -118.755997}
add a row
191
We have it
192
We have it
193
We have it
194
We have it
195
We have it
196
Ardmore Studios, Herbert Road, Bray, County Wicklow, Ireland
{'lat': 53.2010579,
 'location_name': ' Herbert Road, Bray, County Wicklow, Ireland',
 'lon': -6.1220897}
add a row
197
We have it
198
We have it
199
We have it
200
We have it
201
We have it
202
We have it
203
Second Line Stages, New Orleans, Louisiana, USA
{'lat': 29.9759983,
 'location_name': ' New Orleans, Louisiana, United States of America',
 'lon': -90.0782127}
add a row
204
We have it
205
Times Square, Causeway Bay, Hong Kong
{'lat': 22.280609,
 'location_name': ' Causeway Bay, Hong Kong',
 'lon': 114.184554}
add a row
206
Battersea Power Station, Battersea, London, England, UK
{'lat': 51.4796154,
 'location_name': 'Battersea Power Station, Battersea, London, England, UK',
 'lon': -0.1429709}
add a row
207
Senate House, University College London, Malet Street, Bloomsbury, London, England, UK
{'lat': 51.52184485,
 'location_name': ' University College London, Malet Street, Bloomsbury, '
                  'London, England, United Kingdom',
 'lon': -0.13021550670673807}
add a row
208
Piccadilly Circus, Piccadilly, London, England, UK
{'lat': 51.509575749999996,
 'location_name': 'Piccadilly Circus, Piccadilly, London, England, UK',
 'lon': -0.13397999410461475}
add a row
209
Queen's Road Central, Central, Hong Kong, China
{'lat': 22.28365,
 'location_name': "Queen's Road Central, Central, Hong Kong, China",
 'lon': 114.15494}
add a row
210
Twin Anchors Restaurant & Tavern - 1655 N. Sedgwick Street, Lincoln Park, Chicago, Illinois, USA
{'lat': 41.9127223,
 'location_name': 'Twin Anchors Restaurant & Tavern - 1655 N. Sedgwick Street, '
                  'Lincoln Park, Chicago, Illinois, USA',
 'lon': -87.638378}
add a row
211
Millennium Station, Chicago, Illinois, USA
{'lat': 41.884361,
 'location_name': 'Millennium Station, Chicago, Illinois, USA',
 'lon': -87.623481}
add a row
212
Victoria Harbour, Hong Kong, China
{'lat': 22.2931146,
 'location_name': 'Victoria Harbour, Hong Kong, China',
 'lon': 114.20202245565089}
add a row
213
Brach's Candy Factory - 401 N. Cicero Street, Chicago, Illinois, USA
{'lat': 41.8755616,
 'location_name': ' Chicago, Illinois, United States of America',
 'lon': -87.6244212}
add a row
214
Lower Wacker Drive, Downtown, Chicago, Illinois, USA
{'lat': 41.8876395,
 'location_name': 'Lower Wacker Drive, Downtown, Chicago, Illinois, USA',
 'lon': -87.61586179175978}
add a row
215
Chertsey, Surrey, England, UK
{'lat': 51.38292,
 'location_name': 'Chertsey, Surrey, England, UK',
 'lon': -0.493367}
add a row
216
George Farmiloe Building - 28-36 St John Street, Clerkenwell, London, England, UK
{'lat': 51.5237268,
 'location_name': ' Clerkenwell, London, England, United Kingdom',
 'lon': -0.1055555}
add a row
217
South LaSalle St., Chicago, Illinois, USA
{'lat': 41.8813105,
 'location_name': 'South LaSalle St., Chicago, Illinois, USA',
 'lon': -87.6323407}
add a row
218
We have it
219
Old Post Office, Chicago, Illinois, USA
{'lat': 41.8756056,
 'location_name': 'Old Post Office, Chicago, Illinois, USA',
 'lon': -87.6386581677819}
add a row
220
University of Westminster, London, England, UK
{'lat': 51.5219833,
 'location_name': 'University of Westminster, London, England, UK',
 'lon': -0.15503732429423792}
add a row
221
Atwood Cafe - 1 W Washington St, Chicago, Illinois, USA
{'lat': 41.883029,
 'location_name': 'Atwood Cafe - 1 W Washington St, Chicago, Illinois, USA',
 'lon': -87.628187}
add a row
222
McCormick Place - 2301 S. Lake Shore Drive, Near South Side, Chicago, Illinois, USA
{'lat': 41.854185,
 'location_name': 'McCormick Place - 2301 S. Lake Shore Drive, Near South '
                  'Side, Chicago, Illinois, USA',
 'lon': -87.613871}
add a row
223
IBM Building - 330 N Wabash, Chicago, Illinois, USA
{'lat': 41.88865295,
 'location_name': 'IBM Building - 330 N Wabash, Chicago, Illinois, USA',
 'lon': -87.62758934999093}
add a row
224
Richard J. Daley Center - 55 W. Randolph Street, The Loop, Downtown, Chicago, Illinois, USA
{'lat': 41.8789625,
 'location_name': ' Downtown, Chicago, Illinois, United States of America',
 'lon': -87.64210842396537}
add a row
225
Twickenham, Middlesex, England, UK
{'lat': 51.4743892,
 'location_name': 'Twickenham, Middlesex, England, UK',
 'lon': -0.3270232}
add a row
226
Trump International Hotel & Tower - 401 N Wabash, Chicago, Illinois, USA
{'lat': 41.888895399999996,
 'location_name': 'Trump International Hotel & Tower - 401 N Wabash, Chicago, '
                  'Illinois, USA',
 'lon': -87.62643421788432}
add a row
227
Criterion Theatre, Jermyn Street, St James's, London, England, UK
{'lat': 51.509187749999995,
 'location_name': "Criterion Theatre, Jermyn Street, St James's, London, "
                  'England, UK',
 'lon': -0.1349194206634173}
add a row
228
The Center, Central, Hong Kong, China
{'lat': 22.28461275,
 'location_name': 'The Center, Central, Hong Kong, China',
 'lon': 114.15472799485426}
add a row
229
The Peninsula Hong Kong, Salisbury Road, Tsim Sha Tsui, Kowloon, Hong Kong, China
{'lat': 22.2951949,
 'location_name': 'The Peninsula Hong Kong, Salisbury Road, Tsim Sha Tsui, '
                  'Kowloon, Hong Kong, China',
 'lon': 114.17177767557558}
add a row
230
N Franklin Street, Chicago, Illinois, USA
{'lat': 41.89053845,
 'location_name': 'N Franklin Street, Chicago, Illinois, USA',
 'lon': -87.63562947453222}
add a row
231
2 International Finance Centre, Central, Hong Kong, China
{'lat': 22.2853859,
 'location_name': '2 International Finance Centre, Central, Hong Kong, China',
 'lon': 114.15902038821149}
add a row
232
Hotel 71 - 71 E. Wacker Drive, Downtown, Chicago, Illinois, USA
{'lat': 41.8789625,
 'location_name': ' Downtown, Chicago, Illinois, United States of America',
 'lon': -87.64210842396537}
add a row
233
Old Town, Near North Side, Chicago, Illinois, USA
{'lat': 41.9109894,
 'location_name': 'Old Town, Near North Side, Chicago, Illinois, USA',
 'lon': -87.635527}
add a row
234
St John Street, Clerkenwell, London, England, UK
{'lat': 51.5317729,
 'location_name': 'St John Street, Clerkenwell, London, England, UK',
 'lon': -0.1062278}
add a row
235
Longcross, Surrey, England, UK
{'lat': 51.3779329,
 'location_name': 'Longcross, Surrey, England, UK',
 'lon': -0.5793107}
add a row
236
Navy Pier - 600 E. Grand Avenue, Near North Side, Chicago, Illinois, USA
{'lat': 41.89179985,
 'location_name': 'Navy Pier - 600 E. Grand Avenue, Near North Side, Chicago, '
                  'Illinois, USA',
 'lon': -87.60414466382959}
add a row
237
We have it
238
We have it
239
We have it
240
24-26 Newport Road, Cardiff, Wales, UK
{'lat': 51.48355,
 'location_name': '24-26 Newport Road, Cardiff, Wales, UK',
 'lon': -3.167171}
add a row
241
Guanajuato, Mexico
{'lat': 21.0158848, 'location_name': 'Guanajuato, Mexico', 'lon': -101.25284}
add a row
242
Mexico City, Mexico
{'lat': 19.4326296, 'location_name': 'Mexico City, Mexico', 'lon': -99.1331785}
add a row
243
Aldershot, Hampshire, England, UK
{'lat': 51.2494169,

KeyboardInterrupt:

In [ ]:
# # create a new dataframe
# location_df = pd.DataFrame(location_list)
# location_df.head()
# # reorder the columns
# location_df = location_df[["location_name","lat","lon"]]
# # save the dataframe to csv file
# location_df.to_csv("./Resources/IMDB_API_100_location_geoapify_test.csv", index=False)
# location_df.to_json("./Resources/IMDB_API_100_location_geoapify_test.json", orient="records")